.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.wrap {
  flex-flow: wrap;
}

.column-full {
  flex-basis: 100%;
}

.colum-fifth {
  flex-basis: calc(100%/5);
}

.justify-center {
  justify-content: center;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.black-text {
  color: rgb(0 0 0);
}

.item {
  border-right: 1px solid rgb(222 222 222);
}

.gray-text {
  color: rgb(220 220 220);
}

.price {
  background-color: rgb(255 241 231);
}

.retail {
  text-decoration: line-through;
}

.display-inline {
  display: inline;
}

image {
  width: 20%;
  object-fit: cover;
}
