body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(30 51 77);
}

div {
  justify-content: center;
  margin: auto;
}

p {
  font-family: Alice, serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(234 241 243);
}

.correct {
  color: rgb(182 172 255);
}

.underline {
  border-bottom: 3px solid rgb(234 241 243);
}

.wrong {
  color: rgb(233 83 225);
  border-bottom: 3px solid rgb(233 83 225);
}
