.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-two-thirds {
  flex-basis: calc(200%/3);
}

.column-third {
  flex-basis: calc(100%/3);
}

.column-fourth {
  flex-basis: 25%;
}

.column-two-fifths {
  flex-basis: calc(200%/5);
}

.column-three-fifths {
  flex-basis: calc(300%/5);
}

.font-avenir {
  font-family: Avenir, sans-serif;
}

.font-tiempos {
  font-family: "Tiempos Headline", serif;
}

.lightgray-text {
  color: rgb(160 160 160);
}

.gray-text {
  color: rgb(110 110 110);
}

.white-text {
  color: rgb(255 255 255);
}

.medium-text {
  font-size: 18px;
}

.lightgray-background {
  background-color: rgb(250 250 250);
}

.darkgray-background {
  background-color: rgb(82 83 81);
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.side-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  display: inline;
  padding-right: 1rem;
}

.logo {
  width: 150px;
  margin: 1.5rem 0;
}

#nav-bar {
  padding: 1rem 0 1rem 6rem;
}

a {
  outline: none;
  text-decoration: none;
  color: rgb(160 160 160);
  padding: 0 1rem;
}

.bottom-border {
  border-bottom: 2px solid rgb(230 233 236);
}

.top-border {
  border-top: 2px solid rgb(230 233 236);
}

.contact-us {
  background-color: rgb(40 69 100);
  color: white;
  font-family: Avenir, sans-serif;
  border-radius: 5px;
  padding: 0.5rem;
}

.hero-image-index {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 16rem 0;
  margin: 5rem 0;
}

.hero-image-implementation {
  background-image: url("images/implementation/implementation-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 16rem 0;
  margin: 5rem 0;
}

.hero-image-product {
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 16rem 0;
  margin: 5rem 0;
}

.index-image-offset {
  top: 2rem;
  left: 4rem;
}

.implementation-image-offset {
  top: 5rem;
  left: 4rem;
}

.product-image-offset {
  top: 9rem;
  left: 5rem;
}

.implementation-image-margin {
  margin-top: 3rem;
}

.product-image-margin {
  margin-top: 3rem;
}

.overlay {
  background: linear-gradient(to bottom, rgb(0 0 0 / 25%), rgb(0 0 0 /25%));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.index-h1-padding {
  padding-right: 40rem;
}

.implementation-h1-padding {
  padding-right: 30rem;
}

.product-h1-padding {
  padding-right: 30rem;
}

.image-text {
  padding-right: 28.5rem;
  line-height: 1.7rem;
}

.product-image-text {
  padding-right: 26rem;
  line-height: 1.7rem;
}

#clinicians-prefer-canvas {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#clinicians {
  padding-bottom: 4rem;
}

#clinicians p {
  width: 500px;
  margin: auto;
}

#location p {
  line-height: 1.7rem;
}

#learn-more {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.get-started {
  background-color: rgb(40 69 100);
  font-size: 22px;
  color: white;
  font-family: Avenir, sans-serif;
  border-radius: 5px;
  padding: 0.7rem 2.5rem;
}

#contact-info {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

p.address {
  line-height: 0.7rem;
}

.address {
  line-height: 7px;
}

#calculate h2 {
  color: rgb(80 81 79);
  font-size: 32px;
  font-weight: 50;
  margin: auto;
  margin-bottom: 2rem;
}

#calculate h3 {
  color: rgb(80 81 79);
  padding-left: 13.5rem;
  font-weight: 100;
  margin-bottom: auto;
}

#calculate span {
  color: rgb(80 81 79);
  font-size: 2rem;
  font-weight: 100;
  padding-right: 1rem;
}

#calculate p {
  color: rgb(80 81 79);
  padding: 0 13.5rem;
  line-height: 1.4rem;
}

#calculate > div {
  margin-bottom: 9rem;
}
